@charset "UTF-8";
header {
  background-image: url(../medios/background.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 68vh;
  /* -------------------------------Estilos para la barra de navegación---------------------------------- */
}
header nav {
  position: relative;
  bottom: 305px;
  padding: 1px;
  text-align: right;
  font-family: monotype corsiva;
  font-size: 2em;
}
header nav ul {
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  list-style: none;
  gap: 20px;
  text-shadow: #b36093 2px 2px 2px;
  text-transform: uppercase;
}
header .navbar a {
  text-decoration: none;
  position: relative;
  bottom: 30px;
}

footer {
  background-image: url(../medios/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  font-family: #b36093;
  font-size: 1.5em;
}

main {
  /*Estilos Generales*/
  /* ------------------------------------Estilos para Grid----------------------------------------------*/
  /*-------------Página de tratamientos----------------------------*/
  /*------------------Página Productos-----------------*/
}
main h1 {
  font-family: monotype corsiva;
  font-size: 5em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main h2 {
  font-family: monotype corsiva;
  font-size: 3em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main h3 {
  font-family: monotype corsiva;
  font-size: 3em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main h4 {
  font-family: monotype corsiva;
  font-size: 3em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main h5 {
  font-family: monotype corsiva;
  font-size: 3em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main h6 {
  font-family: monotype corsiva;
  font-size: 3em;
  color: #555;
  text-shadow: #df90c7 2px 2px 2px;
}
main .primer-titulo {
  position: relative;
  top: 30px;
  text-align: center;
}
main .segundo-titulo {
  position: relative;
  top: 30px;
  text-align: center;
}
main .tercer-titulo {
  position: relative;
  top: 30px;
  text-align: center;
}
main .cuarto-titulo {
  position: relative;
  top: 30px;
  text-align: center;
}
main p {
  position: relative;
  top: 30px;
  font-family: monotype corsiva;
  font-size: 1.5em;
  color: #555;
}
main .bienvenida-pagina {
  text-align: center;
  margin-inline-start: 250px;
  margin-inline-end: 350px;
  font-family: monotype corsiva;
  font-size: 1.5em;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
}
main .rubro-pagina {
  text-align: center;
  margin-inline-start: 250px;
  margin-inline-end: 350px;
  font-family: monotype corsiva;
  font-size: 1.5em;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
}
main .explicacion-titulo {
  position: relative;
  top: 55px;
  text-align: center;
  margin-inline-start: 250px;
  margin-inline-end: 350px;
  font-family: monotype corsiva;
  font-size: 1.5em;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
}
main .lista-servicios {
  position: relative;
  top: 30px;
  text-align: center;
  font-family: monotype corsiva;
  list-style-position: inside;
  font-size: 1.5em;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
}
main img {
  width: 75%;
  height: 75%;
  margin: 2px;
  border: #6b395c 10px groove;
  border-radius: 50px;
}
main .contenedor {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "foto1  foto2  foto3" "texto1 texto1 texto1" "titulo2 titulo2 titulo2" "texto2  texto2  texto2" "lista1 lista1 lista1" "titulo3 titulo3 titulo3" "foto4  texto3  texto3" "lista2 lista2 lista2" "titulo4 titulo4 titulo4" "foto5  texto4  texto4" "lista3 lista3 lista3" "titulo5 titulo5 titulo5" "foto6  texto6  texto6" "lista4 lista4 lista4" "titulo6 titulo6 titulo6" "texto7 texto7 texto7";
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 22px;
}
main .contenedor .contenedor img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border: #6b395c 10px groove;
  border-radius: 50px;
}
main .contenedor .titulo {
  position: relative;
  top: 50px;
  grid-area: titulo;
  text-align: center;
}
main .contenedor .titulo2 {
  position: relative;
  top: 50px;
  grid-area: titulo2;
  text-align: center;
}
main .contenedor .titulo3 {
  grid-area: titulo3;
  text-align: center;
}
main .contenedor .titulo4 {
  grid-area: titulo4;
  text-align: center;
}
main .contenedor .titulo5 {
  grid-area: titulo5;
  text-align: center;
}
main .contenedor .titulo6 {
  grid-area: titulo6;
  text-align: center;
}
main .contenedor .foto1 {
  position: relative;
  top: 30px;
  grid-area: foto1;
}
main .contenedor .foto2 {
  position: relative;
  top: 30px;
  grid-area: foto2;
}
main .contenedor .foto3 {
  position: relative;
  top: 30px;
  grid-area: foto3;
}
main .contenedor .foto4 {
  grid-area: foto4;
}
main .contenedor .foto5 {
  grid-area: foto5;
}
main .contenedor .foto6 {
  grid-area: foto6;
}
main .contenedor .texto1 {
  position: relative;
  top: 30px;
  grid-area: texto1;
  font-family: monotype corsiva;
}
main .contenedor .texto2 {
  position: relative;
  top: 30px;
  grid-area: texto2;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .texto3 {
  position: relative;
  top: 30px;
  grid-area: texto3;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .texto4 {
  grid-area: texto4;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .texto5 {
  grid-area: texto5;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .texto6 {
  grid-area: texto6;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .texto7 {
  position: relative;
  top: 30px;
  grid-area: texto7;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .lista1 {
  grid-area: lista1;
  font-size: 1.5em;
  font-family: monotype corsiva;
  list-style: none;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor .lista2 {
  grid-area: lista2;
  font-size: 1.5em;
  font-family: monotype corsiva;
  list-style: none;
}
main .contenedor .lista3 {
  grid-area: lista3;
  font-size: 1.5em;
  font-family: monotype corsiva;
  list-style: none;
}
main .contenedor .lista4 {
  grid-area: lista4;
  font-size: 1.5em;
  font-family: monotype corsiva;
  list-style: none;
}
main .contenedor .color1 {
  color: yellow;
}
main .contenedor .color2 {
  color: green;
}
main .contenedor .color3 {
  color: blue;
}
main .contenedor .color4 {
  color: red;
}
main .contenedor2 {
  display: grid;
  grid-template-areas: "titulop titulop titulop" "fotop textop textop" "fotop2 textop2 textop2" "fotop3 textop3 textop3" "fotop4 textop4 textop4";
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 22px;
}
main .contenedor2 .contenedor2 img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  border: #6b395c 10px groove;
  border-radius: 50px;
}
main .contenedor2 .fotop {
  grid-area: fotop;
}
main .contenedor2 .fotop2 {
  grid-area: fotop2;
}
main .contenedor2 .fotop3 {
  grid-area: fotop3;
}
main .contenedor2 .fotop4 {
  grid-area: fotop4;
}
main .contenedor2 .titolop {
  position: relative;
  top: 50px;
  grid-area: titulop;
  text-align: center;
}
main .contenedor2 .textop {
  grid-area: textop;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor2 .textop2 {
  grid-area: textop2;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor2 .textop3 {
  grid-area: textop3;
  text-align: center;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}
main .contenedor2 .textop4 {
  grid-area: textop4;
  font-family: monotype corsiva;
  margin-inline-start: 250px;
  margin-inline-end: 250px;
  margin: 20px auto;
  max-width: 800px;
}

.animacion {
  border-radius: color #6b395c 10px groove;
}

.animacion:hover .contenedor2 img {
  border: #6b395c 10px groove;
  border-radius: 50px;
  position: relative;
  animation: zoomIn 3s ease-in-out;
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/*--------------------------------------Media Queries--------------------------------------------------*/
/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 480px) {
  body {
    background-color: lightgoldenrodyellow;
  }
  header {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  nav {
    text-align: center;
    font-size: 1.2em;
    font-size: small;
  }
  .navbar a {
    display: flex;
    position: relative;
    top: 250px;
    font-size: small;
  }
  footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: small;
    font-size: 1.2em;
  }
  footer p {
    font-size: 1em;
  }
  .bienvenida-pagina, .rubro-pagina, .explicacion-titulo, .lista-servicios,
  .texto1, .texto2, .texto3, .texto4, .texto6, .texto7, .textop, .textop2,
  .textop3, .textop4, .lista1, .lista2, .lista3, .lista4 {
    position: relative;
    top: 10px !important;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-size: 1em !important;
  }
  .primer-titulo, .segundo-titulo, .tercer-titulo, .cuarto-titulo {
    position: relative;
    top: 30px !important;
    font-size: 1.5em !important;
    position: relative;
    top: 30px;
  }
  .titulo, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6 {
    position: relative;
    top: 30px !important;
    font-size: 1.2em;
  }
  .titolop {
    position: relative;
    top: 30px !important;
    font-size: 1.2em;
  }
  img {
    width: 50% !important;
    height: auto;
  }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    font-size: 1.2em;
    margin-top: 80px;
  }
  .contenedor {
    grid-template-areas: "titulo" "foto1" "foto2" "foto3" "texto1" "titulo2" "texto2" "lista1" "titulo3" "foto4" "texto3" "lista2" "titulo4" "foto5" "texto4" "lista3" "titulo5" "foto6" "texto6" "lista4" "titulo6" "texto7" !important;
  }
  .contenedor img {
    width: 20% 30% 30% 30%;
    height: auto;
    border-radius: 20px;
  }
  .contenedor2 {
    grid-template-areas: "titulop" "fotop" "textop" "fotop2" "textop2" "fotop3" "textop3" "fotop4" "textop4" !important;
  }
  .contenedor2 img {
    width: 20% 30% 30% 30%;
    height: auto;
    border-radius: 20px;
  }
  footer {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: x-small;
    font-size: 1em;
  }
  footer p {
    font-size: 1em;
  }
}
/* Media queries para pantallas medianas */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  body {
    background-color: lightblue;
  }
  header {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  nav {
    text-align: center;
    font-size: 1.8em;
  }
  .navbar a {
    display: flex;
    position: relative;
    top: 250px;
    font-size: large;
  }
  footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: small;
    font-size: 1.2em;
  }
  footer p {
    font-size: 1.2em;
  }
  .bienvenida-pagina, .rubro-pagina, .explicacion-titulo, .lista-servicios,
  .texto1, .texto2, .texto3, .texto4, .texto6, .texto7, .textop, .textop2,
  .textop3, .textop4, .lista1, .lista2, .lista3, .lista4 {
    position: relative;
    top: 10px !important;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-size: 1.4em !important;
  }
  .titulo, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6, .titulop {
    position: relative;
    top: 30px !important;
    font-size: 1.8em;
  }
  img {
    width: 80% !important;
    height: auto;
  }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    font-size: 1.8em;
    margin-top: 80px;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo titulo" "foto1 foto2 foto3" "texto1 texto1 texto1" "titulo2 titulo2 titulo2" "texto2 texto2 texto2" "lista1 lista1 lista1" "titulo3 titulo3 titulo3" "foto4 texto3 texto3" "lista2 lista2 lista2" "titulo4 titulo4 titulo4" "foto5 texto4 texto4" "lista3 lista3 lista3" "titulo5 titulo5 titulo5" "foto6 texto6 texto6" "lista4 lista4 lista4" "titulo6 titulo6 titulo6" "texto7 texto7 texto7" !important;
  }
  .contenedor img {
    width: 50%;
    height: auto;
    border-radius: 20px;
  }
  .contenedor2 {
    grid-template-columns: 1fr;
    grid-template-areas: "titulop" "fotop  texop" "fotop2 textop2" "fotop3 textop3" "fotop4 textop4";
  }
}
/* Media queries para pantallas grandes */
@media only screen and (min-width: 979px) and (max-width: 1400px) {
  body {
    background-color: rgb(238, 233, 226);
  }
  nav {
    text-align: center;
    font-size: 1.8em;
  }
  .navbar a {
    display: flex;
    position: relative;
    top: 50px;
  }
  .bienvenida-pagina, .rubro-pagina, .explicacion-titulo, .lista-servicios,
  .texto1, .texto2, .texto3, .texto4, .texto6, .texto7, .textop, .textop2,
  .textop3, .textop4, .lista1, .lista2, .lista3, .lista4 {
    position: relative;
    top: 30px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}

/*# sourceMappingURL=estilosavanzados.css.map */
