@use "variables" as*;

header{
    background-image: url(../medios/background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    height: 68vh;

/* -------------------------------Estilos para la barra de navegación---------------------------------- */    

    nav {
        position: relative;
        bottom: 305px;
        padding: 1px;
        text-align: right;
        font-family: $font;
        font-size: 2em;
    }
    
        
    nav ul {
        display: inline-flex;
        margin: 10px; 
        padding: 10px;
        list-style: none;
        gap: 20px;
        text-shadow: $rosaoscuro 2px 2px 2px;  
        text-transform: uppercase;
        }
        
        
    .navbar a {
        text-decoration: none;
        position: relative;
        bottom: 30px;
        }
            
    
}
footer {
    background-image: url(../medios/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;  
    font-family: $rosaoscuro;
    font-size: 1.5em;  
    
}